@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/*home*/
#Home {
    width: 100%;
    height: 100vh;
    background-image: url(/Assets/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: 0px 20px 100px rgba(0, 0, 0, 0.331);
}

/*backround-home*/
.bg-home {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.18);
}

/*header*/
header {
    width: 90%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-weight: 900;
}

header h1 {
    width: 33%;
    text-align: center;
    font-size: 2vw;
    font-weight: 700;
}

#left {
    text-align: start;
    font-weight: 500;
}

.contact {
    width: 33%;
    display: flex;
    justify-content: end;
}

.contact h2 {
    width: 11vw;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3vw;
    background-color: rgb(255, 55, 0);
    border-radius: 20px;
    font-weight: 500;
}

/*Home-Content*/
.home-content {
    width: 90%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.tittle {
    width: 60%;
    height: 40%;
    margin-bottom: 2vh;
}

.content-tittle {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    color: white;
}

.content-tittle-1 {
    width: 80%;
    height: 33%;
    display: flex;
    justify-content: start;
    align-items: center;
    overflow: hidden;
}

.content-tittle-1 h1 {
    font-size: 5vw;
    width: 100%;
}

.content-tittle-1 i {
    width: 5%;
    height: 80%;
    display: flex;
    align-items: end;
    font-size: 1.5vw;
    color: rgb(255, 55, 0);
    animation: 11s point ease;
}

@keyframes point {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/*tittle-1*/
#tittle-home {
    width: 70%;
    display: flex;
    margin-right: auto;
}

#tittle-home span {
    width: 20%;
}

/*tittle-2*/
#tittle-home-2 {
    width: 100%;
    display: flex;
}

#tittle-home-2 span {
    width: 20%;
}

.tittle p {
    width: 75%;
    font-size: 1.3vw;
    font-weight: 400;
    animation: move 2s ease;
}

/*tittle-1/\tittle-2/\paragraphe*/
@keyframes move {
    from {
        margin-top: -30vh;
        opacity: 0;
    }

    to {
        margin-top: 0;
        opacity: 1;
    }
}

.button {
    width: 40%;
    height: 40%;
}

/*page-1*/
#page-1 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-page-1 {
    width: 80%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.content-page-1 h1 {
    width: 100%;
    text-align: center;
    font-weight: 500;
    color: rgb(255, 55, 0);
}

.content-page-1 p {
    width: 92%;
    text-align: center;
    font-size: 4vw;
    font-weight: 500;
}

.content-page-1-info {
    width: 17vw;
    height: 8.5vh;
    display: flex;
}

.info-content-1 {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.info-content-1 img {
    width: 55%;
    height: 100%;
    border-radius: 50%;
}

.info-content-2 {
    width: 60%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.info-content-2 h3 {
    color: rgba(0, 0, 0, 0.562);
    font-size: 1.1vw;
}

/*page-2*/
#page-2 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-page-2 {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.content-page-2 h2 {
    width: 100%;
    height: 10%;
    color: rgb(255, 55, 0);
    font-weight: 500;
}

.cards-page-2 {
    width: 100%;
    height: 90%;
    display: flex;
}

.cards-page-2-1 {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-page-2-1-content {
    width: 32vw;
    height: 60vh;
    margin-right: -11vw;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 1vw;
    padding-left: 2vw;
    z-index: 2;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.228);
    background-color: white;
    overflow: hidden;
}

.cards-page-2-1-content h1{
    width: 100%;
    height: 16.6%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.139);
}

.cards-page-2-1-content h1{
    font-size: 2.2vw;
}

#sauf{
    border-bottom: 0;
}

.cards-info-page-2{
    width: 100%;
    height: 14.6%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba(0, 0, 0, 0.139);
    transition: 1s ease;
    overflow: hidden;
}
.cards-info-page-2 a {
    width: 100%;
    height: 8.5vh;
    display: flex;
    align-items: center;
    font-size: 1.3vw;
    font-weight: 500;
    transition: 1s ease;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.443);
}

.cards-info-page-2 a:hover{
    color: black;
    font-weight: 600;
    i{
        opacity: 1;
    }
}

.cards-info-page-2 i{
    font-size: 2vw;
    color: black;
    opacity: 0;
    transition: 0.5s ease;
    margin-left: auto;
}

.cards-info-page-2 p{
    font-size: 1vw;
    color: rgba(0, 0, 0, 0.443);
}

.cards-page-2-2 {
    width: 75%;
    height: 100%;
    background-image: url(/Assets/page-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cards-page-2-2-bg{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    background-color: rgba(0, 0, 0, 0.107);
}

.cards-page-2-2-bg h1{
    width: 65%;
    text-align: end;
    font-size: 4vw;
    color: white;
    margin-top: 4vh;
    margin-right: 3vw;
}

/*smartphone*/
@media only screen and (max-width: 600px) {

    /*home*/
    #Home {
        width: 100%;
        height: 100vh;
        background-position: center;
    }

    /*backround-home*/
    .bg-home {
        width: 100%;
        height: 100%;
    }

    /*header*/
    header {
        width: 100%;
        height: 9vh;
        justify-content: space-around;
        backdrop-filter: blur(8px);
        position: fixed;
        z-index: 999;
        flex-direction: row-reverse;
    }

    header h1 {
        width: 40%;
        text-align: start;
        font-size: 4vw;
    }

    #left {
        text-align: end;
    }

    .contact {
        display: none;
    }

    /*Home-Content*/
    .home-content {
        width: 90%;
        height: 35%;
        flex-wrap: wrap;
        margin-top: auto;
    }

    .tittle {
        width: 100%;
        height: 100%;
        margin-bottom: 0;
        flex-wrap: wrap;
    }

    .content-tittle {
        width: 100%;
        height: 60%;
    }

    .content-tittle-1 {
        width: 95%;
        height: 30%;
    }

    .content-tittle-1 h1 {
        font-size: 9vw;
        width: 100%;
        gap: 3px;
    }

    .content-tittle-1 i {
        height: 60%;
        font-size: 3vw;
    }

    .tittle p {
        width: 100%;
        font-size: 3vw;
    }

    .button {
        display: none;
    }

    /*page-1*/
    #page-1 {
        width: 100%;
        height: 100vh;
    }

    .content-page-1 {
        width: 90%;
    }

    .content-page-1 p {
        width: 100%;
        font-size: 7vw;
    }

    .content-page-1-info {
        width: 75%;
    }

    .info-content-1 {
        width: 50%;
    }

    .info-content-1 img {
        width: 15vw;
        height: 10vh;
    }

    .info-content-2 {
        width: 50%;
    }

    .info-content-2 h3 {
        color: rgba(0, 0, 0, 0.562);
        font-size: 3.2vw;
    }
}

/*tablet*/
@media only screen and (min-width: 601px) and (max-width: 900px) {

    /*home*/
    #Home {
        width: 100%;
        height: 100vh;
        background-position: center;
    }

    /*backround-home*/
    .bg-home {
        width: 100%;
        height: 100%;
    }

    /*header*/
    header {
        width: 100%;
        height: 9vh;
        justify-content: space-around;
        backdrop-filter: blur(8px);
        position: fixed;
        z-index: 999;
        flex-direction: row-reverse;
    }

    header h1 {
        width: 40%;
        text-align: start;
        font-size: 2.5vw;
    }

    #left {
        text-align: end;
    }

    .contact {
        display: none;
    }

    /*Home-Content*/
    .home-content {
        width: 90%;
        height: 95%;
    }

    .tittle {
        width: 100%;
        height: 30%;
        margin-bottom: 0;
    }

    .content-tittle {
        width: 100%;
        height: 90%;
    }

    .content-tittle-1 {
        width: 80%;
        height: 33%;
    }

    .content-tittle-1 h1 {
        font-size: 8vw;
        width: 100%;
    }

    .content-tittle-1 i {
        width: 5%;
        height: 80%;
        font-size: 2.8vw;
    }

    .tittle p {
        width: 90%;
        font-size: 2.8vw;
    }

    .button {
        display: none;
    }


    /*page-1*/
    #page-1 {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content-page-1 {
        width: 80%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .content-page-1 h1 {
        width: 100%;
        text-align: center;
        font-weight: 500;
        color: rgb(255, 55, 0);
    }

    .content-page-1 p {
        width: 100%;
        text-align: center;
        font-size: 4.5vw;
        font-weight: 500;
    }

    .content-page-1-info {
        width: 17vw;
        height: 8.5vh;
        display: flex;
    }

    .info-content-1 {
        width: 40%;
        height: 100%;
        display: flex;
        justify-content: center;
    }

    .info-content-1 img {
        width: 55%;
        height: 100%;
        border-radius: 50%;
    }

    .info-content-2 {
        width: 60%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .info-content-2 h3 {
        color: rgba(0, 0, 0, 0.562);
        font-size: 1.1vw;
    }
}

/*tablet et pc portable*/
@media only screen and (min-width: 901px) and (max-width: 1200px) {

    /*home*/
    #Home {
        width: 100%;
        height: 100vh;
        background-position: center;
    }

    /*backround-home*/
    .bg-home {
        width: 100%;
        height: 100%;
    }

    /*header*/
    header {
        width: 100%;
        height: 9vh;
        justify-content: space-around;
        backdrop-filter: blur(8px);
        position: fixed;
        z-index: 999;
        flex-direction: row-reverse;
    }

    header h1 {
        width: 40%;
        text-align: start;
        font-size: 2vw;
    }

    #left {
        text-align: end;
    }

    .contact {
        display: none;
    }

    /*Home-Content*/
    .home-content {
        width: 90%;
        height: 95%;
    }

    .tittle {
        width: 100%;
        height: 30%;
        margin-bottom: 0;
    }

    .content-tittle {
        width: 100%;
        height: 90%;
    }

    .content-tittle-1 {
        width: 60%;
        height: 33%;
    }

    .content-tittle-1 h1 {
        font-size: 6vw;
        width: 100%;
    }

    .content-tittle-1 i {
        width: 5%;
        height: 80%;
        font-size: 2.8vw;
    }

    .tittle p {
        width: 90%;
        font-size: 2vw;
    }

    .button {
        display: none;
    }
}