@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    text-transform: capitalize;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}
/*home*/
#Home{
    width: 100%;
    height: 100vh;
    background-image: url(/Assets/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*backround-home*/
.bg-home{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.18);
}

/*header*/
header{
    width: 90%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-weight: 900;
}
header h1{
    width: 33%;
    text-align: center;
    font-size: 2vw;
    font-weight: 700;
}

#left{
    text-align: start;
    font-weight: 500;
}
.contact{
    width: 33%;
    display: flex;
    justify-content: end;
}

.contact h2{
    width: 11vw;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3vw;
    background-color: rgb(255, 55, 0);
    border-radius: 20px;
    font-weight: 500;
}

/*Home-Content*/
.home-content{
    width: 90%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.tittle{
    width: 60%;
    height: 40%;
    margin-bottom: 2vh;
}

.content-tittle{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    color: white;
}

.content-tittle-1{
    width: 80%;
    height: 33%;
    display: flex;
    justify-content: start;
    align-items: center;
    overflow: hidden;
}

.content-tittle-1 h1{
    font-size: 5vw;
    width: 100%;
}

.content-tittle-1 i{
    width: 5%;
    height: 80%;
    display: flex;
    align-items: end;
    font-size: 1.5vw;
    color: rgb(255, 55, 0);
    animation: 11s point ease;
}

@keyframes point {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
/*tittle-1*/
#tittle-home{
    width: 70%;
    display: flex;
    margin-right: auto;
}

#tittle-home span{
    width: 20%;
}
/*tittle-2*/
#tittle-home-2{
    width: 100%;
    display: flex;
}

#tittle-home-2 span{
    width: 20%;
}

.tittle p{
    width: 75%;
    font-size: 1.3vw;
    font-weight: 400;
    animation: move 2s ease;
}

/*tittle-1/\tittle-2/\paragraphe*/
@keyframes move {
    from {
        margin-top: -30vh;
        opacity: 0;
    }
    to {
        margin-top: 0;
        opacity: 1;
    }
}


.button{
    width: 40%;
    height: 40%;
}

.page-1{
    width: 100%;
    height: 100vh;
}